iframe {
	
height:100vh;
width:100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #F0EAAA;
	font-family: Arial, sans-serif;
	font-size: 16px;
}
img { 
	float: left; 
	margin-right: 20px;
}
th { width: 200px;}
ul { list-style-type: square; }

#entete-de-page {
	padding: 5px;
	height: 100px;
	background-color:#F0AAAA;
	font-size: 32px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}
#bloc-menu {
	height: 36px;
	background-color: #D5F0AA;
	float: center;
	color: #A7CFA5;
}
#contenu {
	padding: 10px;
	background-color: #D5F0AA;
}
#infos {
	color:#AAD1F0;
	font-style: italic;
}
#pied-de-page {
	padding: 5px;
	background-color: #B0D663;
	font-size: 11px;
}

iframe { 
	display: block; 
	border: none; 
	width: 90%; 		/* à définir et à ajuste */ 
	margin: auto : 
}
	/*créer des commandes pour lancer /arrêter de la musique*/
.bouton {
	display:block;
	text-align:center;
	text-decoration:none;
	font-weight: 400;
	color:#f34808;
	font-size:4rem;
	line-height:2em;
}

.bouton.active {
Color:#08c5f3;
}
/*mettre une image aux bords arrondis*/

.arrondie {
-moz-border-radius:20px;
-webkit-border-radius:20px;
border-radius:20px;
}